  <div class="row">
    <div class="col-md-12">

      <table class="table">
        <tr>Tasks realizadas</tr>
        <% @orders.each do |order| %>
        <tbody>
          <tr>
            <% if order.completed == true %>
              <td> <%= order.task.name %> </td>
            <% end %>
          </tr>
        <% end %>
          <tr>
            <td> Total Tareas: <%= current_user.orders.where(completed: true).count %></td>
          </tr>
          </tbody>

      </table>
    </div>
  </div>
    <!-- <td> <%= @orders.map{ |completed| completed}%> </td> -->
    <!-- <td> <%= @orders.map{ |order| order.task.contador}.sum%> </td> -->
