  <div class="container">
      <table class="table">
        <thead>
          <tr>
            <th> <h3>Mis Tareas</h3></th>
          </tr>
        </thead>
        <p></p>
        <tbody>
          <% @orders.each do |order| %>
            <tr>
              <% if order.completed == true %>
                <th> <%= order.task.name %> </th>
              <% end %>
            </tr>
          <% end %>
            <tr>
              <th> Total Tareas: <%= current_user.orders.where(completed: true).count %></th>
            </tr>
        </tbody>
      </table>
  </div>
